<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830245217998-ikbjbfttfdikrf0nhjvgivu5e6vakeci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830245217998-ikbjbfttfdikrf0nhjvgivu5e6vakeci</string>
	<key>API_KEY</key>
	<string>AIzaSyDylSrXFbnNa2anik-GAtKou5G8FKc7u5k</string>
	<key>GCM_SENDER_ID</key>
	<string>830245217998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikolas.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-7482a</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-7482a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830245217998:ios:1fa37f9cf46f991e35529f</string>
</dict>
</plist>